<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Seminarski</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletLogIn</display-name>
    <servlet-name>ServletLogIn</servlet-name>
    <servlet-class>com.rs.ServletLogIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogIn</servlet-name>
    <url-pattern>/Seminarski/ServletLogIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletProsledi</display-name>
    <servlet-name>ServletProsledi</servlet-name>
    <servlet-class>com.rs.ServletProsledi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletProsledi</servlet-name>
    <url-pattern>/Seminarski/ServletProsledi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAdmin</display-name>
    <servlet-name>ServletAdmin</servlet-name>
    <servlet-class>com.rs.ServletAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAdmin</servlet-name>
    <url-pattern>/Seminarski/ServletAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAdminTema</display-name>
    <servlet-name>ServletAdminTema</servlet-name>
    <servlet-class>com.rs.ServletAdminTema</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAdminTema</servlet-name>
    <url-pattern>/Seminarski/ServletAdminTema</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ServletKorisnikPoruke</display-name>
    <servlet-name>ServletKorisnikPoruke</servlet-name>
    <servlet-class>com.rs.ServletKorisnikPoruke</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletKorisnikPoruke</servlet-name>
    <url-pattern>/Seminarski/ServletKorisnikPoruke</url-pattern>
  </servlet-mapping>
</web-app>